body {
  display: block;
  margin: 8px;
  background-color: #ecf6c5;
}
h1,
p {
  text-align: center;
}
h1,
a {
  color: green;
}

img {
  display: block;
  max-width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.navigation-links {
  display: flex;
  justify-content: center;
}
.navigation-links a {
  margin-right: 25px;
}
